a:link {
     color: #33ccff;
     } 
     a:visited {
         color: #cecece;
         } 
         a:hover {
             color: #336666; 
         }
         a:active { 
            color: #339999; 
        } 